body {
    background-color: #F88017;
}

div#sideBar {
 
    background-color:#F88017;
    position:absolute;
    left:0px;
    top:0px;
    width:180px;
    height:100%;
    text-align:center;
    font-family:helvetica;
    color:white;
    font-size:15px;
}

div#notSideBar {
    background-color:white;
    position:absolute;
    left:180px;
    top:0px;
    width:84.5%;
    height:100%;   
}

div#notTabBar {
    background-color: gray;
    position:absolute;
    left:0px;
    top:180px;
    width:100%;

}

div#tabBar {
    background-color:#F87217; 
    position:absolute;
    top:0px;
    left:0px;   
    width:100%;
    height:180px;
    text-align:center;
    font-family:helvetica;
    color:white;
    font-size:20px;
    text-transform:uppercase;
    padding:0px;
}

div#mainTitle {
    position:absolute;
    top:0px;
    text-align:center;
    height:65px;
    width:100%;
    background-color:#E8600A;
    font-family:monospace;
    text-transform:uppercase;
    font-size:40px;
    padding-left:0px;
}

div#mainTitleCourseDescription {
    top:0px;
    text-align:right;
    font-size:10px;
    padding-top:0px;
    padding-bottom:0px;
    padding-left:60px;
    padding-right:0px;
}

table.tabTable {
    top:30px;
    width:100%;
}

th.tabTable {
    background-color:#FBB117;
    top:20px;
    height:30px;
    border:2px solid #E65C00;
    list-style-type:none;
    text-align:center;
    font-family:helvetica;
    color:white;
    font-size:10px;
    padding:2px;
}

a:link {
    color:#FFFFFF;
    text-decoration:none;
}
a:visited {
    text-decoration:none;
    color:#FFFFFF;
}
a:hover {
    color:#FF6600;
    text-decoration:none;
} 
a:active {
    color:#FF6600;
    text-decoration:none;
}

#refreshButton {
    background-color:#E8600A;
    color:white;
    font-family:monospace;
    font-size:15px;
    padding-left:18px;
    padding-right:18px;
    align:center;
    text-align:center; 
    border:0px;
}

div#xButton {
    top:0px;
    right:0px;
    text-align:right;
a.button {
     font-size:10px;
     color:#fff;
     text-decoration:none;
     display:block;
     width:10px;
     height:10px;
     padding:0px;
     border:1px solid #EE8D07;
     -moz-border-radius:5px;
     -webkit-border-radius:5px;
     -o-border-radius:5px;
     border-radius:5px;
}
a.button:hover {
     color:#fff;
     border-color:#FFFFFF;
}
} 

ul.sideBarSemesters {
    font-family:helvetica;
    color:white;
    font-size:15px;
    padding:10px;
    list-style-type:none;
}

ul.sideBarCourses {
    font-family:helvetica;
    color:yellow;
    text-indent:50px;
    font-size:10px;
    padding:10px;
    list-style-type:none;
}

th#removeTabTable {
    background-color:#FBB117;  
    border:2px solid #E65C00;
    text-align:center;
    font-family:helvetica;
    color:white;
    height:30px;
    width:10px;
    font-size:10px;
    padding:0px;
}

#removeMenu,
#removeMenu {
    list-style:none;
    background-color: brown;
    text-align:center;
    font-family:helvetica;
    color:white;
    font-size:10px;
    padding:0px;

}
#removeMenu {
    float: left;
    list-style:none;
    background-color: purple;
    vetical-align: middle;
}
#removeMenu > li {
    float: center;
    background-color: #FBB117;  
}
#removeMenu li a {
display: block;
    list-style:none;
    background-color: green;
    top:20px;
    height:30px;
    border:2px solid #E65C00;
    text-align:center;
    font-family:helvetica;
    color:white;
    font-size:10px;
    padding:2px;
}
#removeMenu ul {
    position: absolute;
    display: none;
    background-color:black;
    float: left;
    z-index: 900;
}

#removeMenu ul li a {
    display: block;
    float: down;
    border:2px solid #E65C00;
    background-color: #FBB117;  
}

#removeMenu li:hover ul {
    display: block;
    position: absolute;
    right:0px;
    background-color: #FBB117;
    padding:0px;
}

iframe.tool {
    width:100%;
    height:100%;
    overflow:hidden;
}

