body {
    background-color: gray;
}

div#sidebar {
 
    background-color: orange;
    color: #AEBEEF;
    position:absolute;
    top:0;
    left:0;
    width:100px;
    height:100%;
}

div#tabBar {
    align: right;
    background-color: blue;
}