/* ************************************************************** *
 * COLORS                                                         *
 * ************************************************************** */

.changed {
    background-color:yellow;
    color:blue;
}

/* Pretty much everything */
th.tabTable, div#sideBar, div#tabBar,
#CourseHeader, #removeMenu, #logoutButton, #casLogoutButton,
th#removeTabTable, #refreshButton, #liteRefreshButton, #removeMenu li a,
.documentListLink, .documentFileLink, .documentMemo, ul.sideBarSemesters,
div#backElem {
    color:white;
}

/* ********************** *
 * ORANGES                *
 * ********************** */

/* Darker Orange */
#CourseHeader, #refreshButton, #liteRefreshButton,
div#menuDiv, #removeMenu, div#backElem {
    background-color:#D65300;
}

th.tabTable, #removeMenu ul, #removeMenu li a, #removeMenu ul li a,
#removeMenu li:hover ul, #removeMenu, th#removeTabTable {
    border-color: #D65300;
}

/* Peachy Cream */
div#notSideBar {
    background-color:#FFE1A7;
}
div#notTabBar {
    background-color: #FFE1A7;
    border-top-color: #FFE1A7;
}
.documentDiv {
    border-color:  #FFE1A7;
}
div.loadingStatus {
    color: #FFE1A7;
}

/* Background Orange */
body, div#sideBar, div#tabBar, div#mainTitle {
    background-color:#F87217;
}

/* Main Orange */
.documentDiv, th.tabTable, #removeMenu ul, #removeMenu li a, #removeMenu ul li a, #removeMenu li:hover ul {
    background-color:#FD912C;
}
/* ********************** *
 * BUTTONS                *
 * ********************** */

/* Custom for ICE button */
#iceButton {
    background-color:#66ffff;
    color:black;
}

/* Taken from Piazza's page */
#piazzaButton {
    background-color:#447eac;
    color:white;
}

/* Logout Buttons */
#logoutButton, #casLogoutButton {
    background-color:black;
}

/* ********************** *
 * TABS                   *
 * ********************** */

th.tabTable:hover {
    background-color:#EE8505;
}

th#xButton {
    background-color:#666666;
}

/* ********************** *
 * CONTENT                *
 * ********************** */
.documentLink {
    color:#000;
}

.documentName {
    color:#000;
}

.documentMiniName {
    color:#CC660;
}

.documentSubmissionLink {
    color:#FFB661;
}

.toolTabButton {
    color:#333333;
}

/* ********************** *
 * <A> TAGS               *
 * ********************** */
a:link, a:visited {
    color:#FFFFFF;
}

a:hover, a:active {
    color:#fff;
}

a.button, a.button:hover {
    color:#fff;
    border-color: #EE8D07;
}

a.button:hover {
     border-color:#FFFFFF;
}

/* ********************** *
 * DIFFERENCES            *
 * ********************** */

.diffSem, .diffCourse, .diffAttr {
    color: black;
    font-weight:bold;
}
